* {
  margin: 0;
  padding: 0;
}
.page {
  /* background-image: linear-gradient(#ddf5f7, #c0d9e5, #b5cbee); */
}
.NavBar {
  margin: 0;
  /* border: 1px black solid; */
  background-color: #3b577d;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  display: grid;
  align-items: center;
}

.navBody {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  box-shadow: 10px 10px 10px #3b577d;
}

.nav-left {
  display: flex;
}
.nav-left ul {
  gap: 25px;
  font-size: 21px;
  text-decoration: none;
  display: flex;
  color: #ddf5f7 !important;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.nav-left a {
  color: #ddf5f7 !important;
  text-decoration: none;
}

.nav-right ul {
  gap: 25px;
  font-size: 21px;
  text-decoration: none;
  display: flex;
  color: #0c0f0f !important;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.nav-right a {
  color: #ddf5f7 !important;
  text-decoration: none;
}
.nav-right button {
  color: #010a17 !important;
}

.button {
  padding: 2px;
  width: 80px;
  color: #000000 !important;
  background-color: #44679f;
  border: none;
  border-radius: 5px;
}
.ppage {
  background-image: linear-gradient(#ddf5f7, #c0d9e5, #b5cbee);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-page {
  padding-top: 50px;
}

.box {
  font-size: 20px;
  border-radius: 10px;
  color: #3b577d;
  background-color: #ddf5f7;
  margin: auto;
  box-shadow: 1px 1px 10px #3b577d;
}
.reg {
  width: 650px;
  height: 650px;
}
.box input[type="text"] {
  height: 20px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 100%;
}
.box table {
  border-collapse: separate;
  border-spacing: 0.5em;
}
.box input[type="password"] {
  height: 20px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 100%;
}
.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

.Body {
  /* border: 1px black solid; */
  height: 848px;
  width: 95%;
  margin: auto;
  margin-top: 80px;
  padding-top: 20px;
}
a {
  color: #3b577d !important;
  text-decoration: none;
}
/* Footer */
.site-footer {
  background-color: #333333;
  padding: 30px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.site-footer h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.site-footer p {
  margin-bottom: 5px;
}

.bottom-footer {
  background-color: #222222;
  padding: 10px 0;
  text-align: center;
}

.bottom-footer p {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
}

/* css for admin body */

.AdminPage {
  background-image: linear-gradient(#ddf5f7, #c0d9e5, #b5cbee);
  height: 800px;
  display: flex;
}
.AdminMenu {
  /* border: black 1px solid; */
  height: 680px;
  width: 20%;
  background-color: #44679f;
  padding-top: 120px;
  align-items: center;
  text-align: center;
}
.AdminMenu button {
  padding: 10px;
  width: 250px;
  color: #c0d9e5 !important;
  background-color: #ddf5f7;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}
.AdminDash {
  /* border: black 1px solid; */
  color: #3b577d;
  height: 715px;
  width: 80%;
  background-color: #ddf5f7;
  padding-top: 85px;
  padding-left: 20px;
}
.AddEmpForm {
  background-image: linear-gradient(#ddf5f7, #c0d9e5, #b5cbee);
  height: 800px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.AddEmpForm input[type="text"] {
  border-color: white;
  border-radius: 5px;
}
.AddEmpForm form {
  display: grid;
  justify-content: center;
  /* position: relative; */
}
.EmpFormButton {
  /* position: absolute; */
  /* align-self: flex-start;
  grid-column: 1/-1; */
  /* bottom: -30%;
  left: 35.5%; */
  display: grid;
  justify-content: flex-start;
}
.input-btn {
  border: none;
  padding: 5px 20px;
  background-color: #3b577d;
  color: #e2eaee;
  border-radius: 5px;
  cursor: pointer;
}
.LandingBody {
  padding-top: 80px;
  background-image: url("images/background.svg");
  background-size: 100% 100%;
  width: 100%; /* adjust to your desired width */
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LandingBox {
  /* padding: 20px; */
  align-items: center;
  border: 10px solid rgba(255, 255, 255, 0.746);
  color: white;
  box-shadow: 1px 1px 20px #565555;
  height: 550px;
  width: 80%;
  text-align: center;
}

.btn-crud {
  padding: 2px;
  width: 80px;
  color: #000000 !important;
  background-color: #59c757;
  border: none;
  border-radius: 5px;
}
.btn-crud a {
  color: white !important ;
}
.btn-crud-2 {
  background-color: red;
}
.btn-crud-2 a {
  color: white !important ;
}
.cardContainer {
  display: flex !important;
  justify-content: center;

  gap: 50px;
}
.card {
  margin-top: 50px;
  text-align: center !important;
  width: 330px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.card-header h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

.card-body {
  padding: 20px;
}

.card-body p {
  margin: 0;
  font-size: 80px;
  line-height: 1.5;
}
.updatebutton {
  padding: 2px;
  width: 80px;
  height: 25px;
  color: #fafafa !important;
  background-color: #44679f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
